@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,500&family=Freehand&family=Noto+Serif:ital,wght@1,300&family=Satisfy&display=swap');
.search{
    margin-left: 4px;
    margin-top: -4px;
    margin-bottom: 4px;

}
.input{
    border: 5px groove thistle;
    border-radius: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 10px;
}
.srch_btn{
    color: aliceblue;
    background: linear-gradient(216.19deg, #2D4059 5.76%, #0A142F 67.34%);
padding-top: 3px;
}

#top{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.bord{
    border:2px solid #0A142F;
    margin-top: 6px;
    margin-left: -2rem;

}
.name{
    font-size: 3rem;
    color: red;
    margin-left: 4rem;
    margin-top: -.2rem;
    text-transform: capitalize;
}
#main{
    border:14px solid #d4af45; 
    height: 32rem;
    width: 50rem;
}
.rollNo{
 text-align: right;
 font-weight: bold;    
}
.container{
 display: flex;
 justify-content: space-between;   
}
.Bitter{
    font-size: 2.8rem;
    text-align: center;
}
/* <img src={logo} className="logo" alt="guarantee" /> */

.logo{
    width: 8rem;
    height: 3rem;
    margin-left: 8px;
    position: absolute;
    margin-top: -60px;
    background-color: red;
 }
 .row{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
 }
 
  
.right{
    margin-right: 7rem;
}
.proud{
    margin-left: 6rem;
    font-size: large;
    margin-bottom: 8px;
}
.achieve{
    text-align: center;
    margin-top: -1.4rem;
    color: red;
    font-size: 2.4rem;
}
.word{
    margin-top: 10px;
    font-size: larger;
    }
    .ele{
        text-align: center;
    }
    
.twe{
    margin-right: 1rem;
    margin-top: 5rem;
}
.thirt{
    text-align: right;
    margin-right: 16.5rem;
}
.fourte{
    text-align: right;
    margin-right: 1rem;
}
.fiveteen{
    text-align: right;
    margin-right: 2rem;
}

#btn{
    background-color: #D433FF;
    padding: 5px;
    margin-top: 29px;
    font-size: larger;
    color: white;
    border-radius: .5rem;
    border:3px solid #d4af45;
    margin-bottom: 1rem;
}

#bkbtn{
    background-color: #48C9B0;
    padding: 5px;
    margin-top: 29px;
    margin-left: 20px-;
    font-size: larger;
    color: #2D4059;
    font-weight: 800;
    margin-bottom: 1rem;
    border-radius: .8rem;
    border:3px solid #2D4059;
}

.flxbtn{
    display: flex;
    justify-content: space-around;
}

.topImag{
    position: absolute;
    margin-top: -4rem;
}
#boy{
    border: #0A142F 2px solid;
    width: 45rem;
    margin-left: 2rem;
}

#topImage{
height: 7rem;
width: 50rem;
display: flex;
}
.bot{
    margin-top: -6rem;
}
/* #instute{
    width: 7rem;
    height: 3rem;
    background-color: red;
} */
.data{
    margin-left: 2rem;
}













