.student-page {
    display: flex;
    flex-direction: row;
    background: #ffefef;
    width: 100%;
}
.student-heading{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.student-content {
    display: flex;
    flex-direction: column;
    min-width: 1250px;
    max-width: 100%;
}
.add-btn {
    width: fit-content;
    padding: 10px 20px;
    background: linear-gradient(180deg, #FFB400 0%, #FFB400 0.01%, #EAAD1A 100%);
    border-radius: 5px;
    cursor: pointer;
    color: #f6f6f6;
}

.student-content table {
    margin: 20px;
    text-align: left;
    color: #0A142F;
    margin-top: 100px;
}

table,
thead,
td,
th {
    border: 1px solid #0A142F;
    border-collapse: collapse;
    padding: 10px;
}

table tbody tr:hover {
    background-color: #c3c3c3;
}

.call-status {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.call-status input {
    padding: 5px;
    border-radius: 2px;
    background-color: #999999;
    color: #0A142F;
}

.call-status button {
    background-color: #F04445;
    cursor: pointer;
}

.call-status-field button {
    padding: 5px;
}

.student-field-action {
    cursor: pointer;
}